@media all and (max-width:1000px){
    header{
        /*text-align: center;*/
    }
    .lesson{
        width: 30%;
        margin bottom: 50px;
    }
    .logo{
        margin-left: 450px;
        margin-top: 5px;
    }
    .header-right{
        /*display: none;*/
        margin-left: 300px;
    }
    .main h1{
        font-size: 40px;
    }
    .heading h2{
        font-size: 20px;
    }

}
@media all and (max-width: 670px) {
    .lesson{
        width: 100%;
    }
    .logo{
        margin-left: 200px;
        margin-top: 5px;
    }
    .header-right{
        /*display: none;*/
        margin-left: 90px;

    }
    /*span.menu-icon{
        display: block;
    }*/

    .main{
        text-align: left;
    }
 
    .main h1{
        font-size: 30px;
        line-height: 36px;
        padding-left: 50px;
    }
    .main p{
        font-size: 14px;
        line-height: 36px;
        padding-left: 50px;
    }
    .footer-list {
        display: none;
    }

    footer {
        height: 120px;
        padding: 10px;
        text-align: center;
    }

    .footer-logo {
        float: none;
    }
}